.flex_nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin:auto;
    width: 150em;

}

#navigation{
    display: flex;
    justify-content: space-around;
    width: 20em;
}

.flex_nav {
    padding: 0;
    background-color: #e5e5e5;
}

.navbar-light {
    padding: 0;
}

.nav-link {
    margin-top: 8px;
}

.dropdown-toggle {
    color: gray;
}