.flex_nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin:auto;
    width: 150em;

}

#navigation{
    display: flex;
    justify-content: space-around;
    width: 20em;
}
