body {
    /*background-image: url("../images/fond.png");*/
    width: 100%;
    height: 100%;
    background-size: cover;
}

/* ===================================== INDEX.PHP ========================================== */
.no_image {
    background-image: none !important;
}

.flex_column_div
{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1em;
    width: 80%;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.imageQuiz {
    width: 100%;
    height: 200px;
}

.bienvenue {
    font-style: oblique;
    font-weight: bold;
}

.desc_accueil {
    margin-top: 20px;
}

.boutons_accueil {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.indexButton {
    display: flex;
    width: 300px !important;
    color: white;
    font-weight: bold;
    height: 3em;
    border-radius: 10px;
    font-size: 1.5em;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.green {
    background-color: #97d94d;
    border: 2px solid #77B61F;
}

.purple {
    background-color: #B040B5;
    border: 2px solid #9E4873;
}

.indexButton:hover {
    color: whitesmoke;
}


/* ===================================== ACCUEILADMIN.PHP ============================================== */

.admin_boutons {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.titre_admin {
    margin-top: 30px;
}

.desc_admin {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* =================================== CHOIXQUIZZ.PHP ================================ */

.choixConteneur
{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 3em;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;

}

.quizButton, .scoreQuiz
{
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    height: auto;
    width: 50%;
    margin-top: 20px;
    align-items: center;
    text-decoration: none;
    font-size: 2em;
    text-align: center;
}

.quizButton:hover {
    color: whitesmoke;
}

.quizTitre {
    font-weight: bold;
    color: white;
}

.quizDescription {
    font-style: oblique;
    color: whitesmoke;
}


/* ================================== CHOIXTHEME.PHP =================================== */

.themeButton
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid 2px black;
    border-radius: 0.3em;
    height: auto;
    width: 6em;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    margin-left: 20px;
    font-size: 3em;
    color: rgb(100,100,100);
    text-align: center;
}

.themeButton:hover {
    color: black;
}

.titre_centre_div{
    display: flex;
    margin: auto;
    margin-top:1em;
    width:20em;
    justify-content: center;
    font-weight: bold;
}
.choixConteneurTheme
{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 1em;
    flex-direction: row;
    align-content: center;
    width: 52%;

}

.titre_theme {
    font-weight: bold;
}

.green_title {
    color: #97d94d;
}

.purple_title {
    color : #B040B5;
}

.desc_theme {
    font-style: oblique;
}

.image_theme {
    height: 150px;
    max-width: 90%;
}

/* ================================= CONNEXION.PHP =================================== */

.form_connexion {
    width: 40%;
    margin-top: 30px;
}

.connexion_title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn_form {
    margin-left: 18rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* ================================= CREERQUIZ.PHP =================================== */

.question .form-group {
    width: 90%;
    margin-top: 1rem;
}

#addQuestion
{
    display: flex;
    flex-direction: column;
    width: 40em;
}

.removeBtn{
    margin-bottom: 2em;
}
.repQcm{
    margin-bottom: 1.5em;
}

/* ================================= CREERQUESTION.PHP =================================== */
.conteneurQuestion{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2em;
    width: 70em;
    justify-content: center;
}

#createQuestionDescription{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
/* ================================= CONFIRMATIONCREATION.PHP =================================== */
.confConteneur{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2em;
    width: 35em;
}

.btn_retour_admin{
    font-size: 1.5em;
    color: white;
}
/* ============================= DESCRIPTIONQUIZ.PHP ===================================== */

.descriptionConteneur
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20em;

    margin: auto;
    margin-top: 3em;

    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}

.descriptionConteneur div
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    width: 17em;
}

.startButton, .rejouerButton, .autreQuizButton, .gererButton
{
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    height: 1.7em;
    width: 9em;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    margin-top: 50px;

}

.gererButton {
    width: 5em;
}

.startButton:hover, .gererButton:hover {
    color: whitesmoke;
}


/* ======================================= GERERUSER.PHP =============================== */

.user
{
    display: flex;
    flex-direction: row;
    width: 25em;
    height: 6em;
    justify-content: space-around;
}

.identite {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-style: normal;
}

.changer {
    height: 46px;
    border-radius: 7px;
    color: white;
    margin-left: 20px;
}

.pseudo {
    font-weight: bold;
}

/* ================================ JOUERQUIZ.PHP =============================== */
.quizForm {
    width: 100%;
    margin-top: 30px;
}

.quizConteneur {
    width: 25em;
    margin: auto;
    margin-top: auto;
    margin-top: 3em;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}

.form-control {
    width: 90%;
}

.quizForm label {
    margin-top: 10px;
}

.jouerQuestion {
    font-weight: bold;
}
/* ================================ DELETEQUIZ.PHP =============================== */
.deleteConteneur{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.quizDelete{
    display: flex;
    margin: auto;
    margin-top: 1em;
    align-items: center;
    width: 90%;

}

.deleteDescription{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin-right: 1em;
    border: solid;
    border-width: 0.09em;
    border-radius:0.8em;

}

.btn_violet{
    background-color: #B040B5;
    border: 2px solid #9E4873;
}

/* ========================================== PROFIL.php ======================================= */

.titre_profil {
    text-align: center;
    margin-top: 1em;
}

.scoreQuiz {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-around;
    color: white;
    margin-bottom: 1em;
}

.nom_quiz {
    width: 50%;
}

.difficulte{
    font-size: 1em;
}
/* =================================== SCORE.PHP ===================================*/

td {
    font-size: large;
    padding: 30px;
}



.bigButton
{
    display:flex;
    justify-content: center;
    align-items: center;

    width: 15em;
    height: 4em;
    margin-top: 1em;
    font-size: 3em;
    color: rgb(100,100,100);
    border: solid;
    border-color: rgb(80,80,80);
}


.bigButton:active, .bigButton:hover,
.indexButton:active, .indexButton:hover,
.themeButton:active, .themeButton:hover,
.quizButton:active, .quizButton:hover,
.gererButton:hover, .gererButton:active,
.startButton:hover, .startButton:active,
.scoreQuiz:hover, .scoreQuiz:active,
.rejouerButton:hover, .rejouerButton:active,
.autreQuizButton:hover, .autreQuizButton:active
{
    text-decoration: none;
}

.descriptionConteneur {
    display: block;
}


.creer_question {
    margin: 30px;
}


:invalid{

}
/* ================================================== TUTORIEL.PHP ===============================================  */

/* ================================================== RESPONSIVE ===============================================  */

@media screen and (max-width: 270px) {
    .themeButton {
        margin-left: 0;
    }
}

@media screen and (max-width: 332px) {
    .startButton {
        height: 100px;
        text-align: center;
    }
}

@media screen and (max-width: 360px) {
    .green, .purple {
        width: 90% !important;
    }

    .gererButton {
        width: 45% !important;
    }

    .user {
        flex-direction: column;
        width: auto;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 390px) {
    .btn_form {
        width: auto !important;
    }
}

@media screen and (max-width: 510px) {
    .descriptionConteneur {
        width: auto;
        margin-left: 15%;
    }

    .descriptionConteneur div {
        flex-direction: column;
        align-items: baseline;
        width: auto;
    }

    .startButton {
        margin-top: 10px;
    }

    .scoreQuiz {
        flex-direction: column;
    }
}

@media screen and (max-width: 680px) {
    .boutons_accueil {
        flex-direction: column;
        margin-bottom: 20px;
        align-content: center;
        align-items: center;
    }

    .btn_form {
        margin-left: 0;
    }

    .quizConteneur {
        width: auto;
        margin-left: 30px;
    }
}

@media screen and (max-width: 945px) {
    .quizDelete {
        flex-direction: column;
    }
}
